USE [master]
GO
/****** Object:  Database [DocTinTuc]    Script Date: 04/05/2021 4:30:43 PM ******/
CREATE DATABASE [DocTinTuc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DocTinTuc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DocTinTuc.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DocTinTuc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DocTinTuc_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DocTinTuc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DocTinTuc]
GO
/****** Object:  Table [dbo].[BAIDANG]    Script Date: 04/05/2021 4:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAIDANG](
	[IDBaiDang] [int] IDENTITY(1,1) NOT NULL,
	[TenBaiDang] [nvarchar](300) NULL,
	[TieuDe] [nvarchar](300) NULL,
	[UrlRequire] [nvarchar](200) NULL,
	[AnhDaiDien] [nvarchar](500) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[IDTaiKhoan] [int] NOT NULL,
	[NgayDang] [date] NULL,
	[TrangThaiBaiDang] [nvarchar](50) NULL,
	[IDTheLoai] [int] NOT NULL,
 CONSTRAINT [PK_BAIDANG] PRIMARY KEY CLUSTERED 
(
	[IDBaiDang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUYENMUC]    Script Date: 04/05/2021 4:30:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENMUC](
	[IDCM] [int] IDENTITY(1,1) NOT NULL,
	[IDCMCha] [int] NULL,
	[TenCM] [nvarchar](50) NULL,
	[Link] [nvarchar](500) NULL,
 CONSTRAINT [PK_CHUYENMUC] PRIMARY KEY CLUSTERED 
(
	[IDCM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LUOTXEM]    Script Date: 04/05/2021 4:30:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUOTXEM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NgayThang] [date] NOT NULL,
	[IDBaiDang] [int] NOT NULL,
 CONSTRAINT [PK_LUOTXEM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[NgayThang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 04/05/2021 4:30:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[IDTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[TenTaiKhoan] [nvarchar](30) NULL,
	[MatKhau] [nvarchar](max) NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SDT] [nvarchar](30) NULL,
	[AnhDaiDien] [nvarchar](100) NULL,
	[TrangThaiNguoiDung] [nvarchar](50) NULL,
	[QuyenHan] [char](1) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[IDTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 04/05/2021 4:30:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAI](
	[IDTheLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenTheLoai] [nvarchar](50) NULL,
	[UrlRequire] [nvarchar](50) NULL,
 CONSTRAINT [PK_THELOAI] PRIMARY KEY CLUSTERED 
(
	[IDTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAIDANG] ADD  CONSTRAINT [DF_BAIDANG_NgayDang]  DEFAULT (getdate()) FOR [NgayDang]
GO
ALTER TABLE [dbo].[BAIDANG]  WITH CHECK ADD  CONSTRAINT [FK_BAIDANG_TAIKHOAN] FOREIGN KEY([IDTaiKhoan])
REFERENCES [dbo].[TAIKHOAN] ([IDTaiKhoan])
GO
ALTER TABLE [dbo].[BAIDANG] CHECK CONSTRAINT [FK_BAIDANG_TAIKHOAN]
GO
ALTER TABLE [dbo].[BAIDANG]  WITH CHECK ADD  CONSTRAINT [FK_BAIDANG_THELOAI] FOREIGN KEY([IDTheLoai])
REFERENCES [dbo].[THELOAI] ([IDTheLoai])
GO
ALTER TABLE [dbo].[BAIDANG] CHECK CONSTRAINT [FK_BAIDANG_THELOAI]
GO
ALTER TABLE [dbo].[LUOTXEM]  WITH CHECK ADD  CONSTRAINT [FK_LUOTXEM_BAIDANG] FOREIGN KEY([IDBaiDang])
REFERENCES [dbo].[BAIDANG] ([IDBaiDang])
GO
ALTER TABLE [dbo].[LUOTXEM] CHECK CONSTRAINT [FK_LUOTXEM_BAIDANG]
GO
USE [master]
GO
